<app-titulo [titulo]="'Eventos'"></app-titulo>
<div class="d-flex">
    <div class="form-inline mr-auto" action="">
        <div class="form-group mb-2">
            Filtro: <input type="text" class="form-control mr-2" placeholder="Buscar" [(ngModel)]="filtroLista">
            <button class="btn-outline-success">buscar</button>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-primary" (click)="novoEvento(template)">
            <i class="fa fa-plus-circle"></i>&nbsp;
            Novo Evento
        </button>
    </div>
</div>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Img</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th colspan="2">Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td>{{evento.eventoId}}</td>
            <td>
                <img src="http://localhost:5000/resources/images/{{evento.imagemUrl}}?_ts={{dataAtual}}" [style.width.px]="imagemLargura"
                    [style.margin.px]="imagemMargem">
            </td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>
                <div *ngIf="!evento?.lotes?.length">
                    Não Informado
                </div>
                <div *ngIf=" eventos && evento.lotes.length">
                    {{evento.lotes[0].nome | uppercase}}
                </div>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-primary" tooltip="editar" (click)="editarEvento(evento, template)">
                        <i class="fa fa-edit"></i>
                    </button>
                    <button class="btn btn-sm btn-danger" tooltip="excluir" (click)="excluirEvento(evento, confirm)">
                        <i class="fa fa-eraser"></i>
                    </button>
                </div>
            </td>
            <td>
                <a [routerLink]="['/evento', evento.eventoId, 'edit']" tooltip="Edição Detalhada" class="btn btn-sm btn-warning">
                    <i class="fa fa-edit"></i>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos">
        <tr>
            <td colspan="7" class="text-center">
                <h4>
                    Nenhum evento encontrado!
                </h4>
            </td>
        </tr>
    </tfoot>
</table>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="dialog-sizes-name1" class="modal-title pull-left">Cadastrar evento</h4>
                <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="registerForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Tema</label>
                            <input class="form-control" type="text" [ngClass]="{'is-invalid': registerForm.get('tema').errors && 
                            registerForm.get('tema').touched}" formControlName="tema" placeholder="Insira o Tema">

                            <div *ngIf="registerForm.get('tema').hasError('required') && 
                        registerForm.get('tema').touched" class="invalid-feedback">
                                Tema é obrigatório
                            </div>
                            <div *ngIf="registerForm.get('tema').hasError('minlength') && 
                        registerForm.get('tema').touched" class="invalid-feedback">
                                Tema deve ter no mínimo 4 Caracteres
                            </div>
                            <div *ngIf="registerForm.get('tema').hasError('maxlength') && 
                        registerForm.get('tema').touched" class="invalid-feedback">
                                Tema deve ter no máximo 50 Caracteres
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Local</label>
                            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('local').errors && 
                            registerForm.get('local').touched}" formControlName="local" placeholder="Insira o Local">
                            <div *ngIf="registerForm.get('local').hasError('required') && 
                            registerForm.get('local').touched" class="invalid-feedback">
                                Local é obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Data e Hora</label>
                            <input type="text" class="form-control" bsDatepicker
                                [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && 
                            registerForm.get('dataEvento').touched}" formControlName="dataEvento">
                            <div *ngIf="registerForm.get('dataEvento').hasError('required') && 
                            registerForm.get('dataEvento').touched" class="invalid-feedback">
                                Data Evento é obrigatório
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Qtd Pessoas</label>
                            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors && 
                            registerForm.get('qtdPessoas').touched}" formControlName="qtdPessoas"
                                placeholder="Insira a quantidade de Pessoas">
                            <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && 
                                registerForm.get('qtdPessoas').touched" class="invalid-feedback">
                                Data Evento é obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-9">
                            <label>Imagem</label>
                            <table>
                                <tr>
                                    <td>
                                        <button class="btn btn-success" (click)="file.click()">Enviar Imagem</button>
                                        <input type="file" #file class="form-control" formControlName="imagemUrl" (change)="onFileChange($event)" style="display:none">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Telefone</label>
                            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('telefone').errors && 
                            registerForm.get('telefone').touched}" formControlName="telefone"
                                placeholder="Insira o Telefone">
                            <div *ngIf="registerForm.get('telefone').hasError('required') && 
                                registerForm.get('telefone').touched" class="invalid-feedback">
                                Data Evento é obrigatório
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Email</label>
                            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('email').errors && 
                            registerForm.get('email').touched}" formControlName="email" placeholder="Insira o Email">
                            <div *ngIf="registerForm.get('email').hasError('required') && 
                            registerForm.get('email').touched" class="invalid-feedback">
                                Data Evento é obrigatório
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex">
                <button class="btn btn-secondary" (click)="template.hide()">
                    Fechar
                </button>
                <button class="btn btn-primary ml-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
                    Salvar Alterações
                </button>
            </div>
        </div>
    </div>
</div>
<br>

<div bsModal #confirm="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
	<div class="modal-dialog modal-sm">
  		<div class="modal-content">
    		<div class="modal-header">
      			<h4 class="modal-title pull-left">
        			Deletando Evento
      			</h4>
      			<button type="button" class="close pull-right" (click)="confirm.hide()" aria-label="Close">
        			<span aria-hidden="true">&times;</span>
      			</button>
    		</div>
    		<div class="modal-body">
      			<p>{{bodyDeletarEvento}}</p>
    		</div>    
    		<div class="modal-footer btn-group d-flex">      
      			<button type="button" class="btn btn-outline-primary" (click)="confirm.hide()">
        			CENCELAR
      			</button>
      			<button type="button" class="btn btn-outline-danger" (click)="confirmeDelete(confirm)">
          			DELETAR
        		</button>
    		</div>
  		</div>
	</div>
</div>
