<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="dashboard">ProAgil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div *ngIf="loggedIn()" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="eventos">Eventos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
                </li>
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" routerLink="contatos" tabindex="-1">Contatos</a>
                </li>
            </ul>
        </div>

        <ul *ngIf="loggedIn()" class="navbar-nav">
            <li class="nav-item dropdown" dropdown>
                <a dropdownToggle class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="cursor:pointer">
                    {{nome}}
                </a>
                <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item">
                        Perfil
                    </a>
                    <div role="separator" class="divider"></div>
                    <a class="dropdown-item" (click)="logout()" style="cursor:pointer">
                        Sair
                    </a>
                </div>
            </li>
        </ul>
        <button *ngIf="!loggedIn()" class="btn btn-success" (click)="logar()">Logar</button>
    </div>
</nav>
